/********************************* SIDEBAR *********************************/
#sidebar {
    background-image: url("../img/leather.jpg");
    background-size: 100%;
    width: 250px;
}

nav li {
    margin-bottom: 0.5rem;
}

nav li, nav a {
    color: #fff833;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 200ms;
}

nav a:hover {
    color: #ffffff;
}

@media screen and (min-width: 576px) {
    #sidebarCollapse {
        display: none;
    }

    .offcanvas-backdrop {
        display: none;
    }
}

/********************************* MAIN BODY CONTENT *********************************/
main {
    background-image: url("../img/parchment.jpg");
    background-size: 50%;
}

@media screen and (min-width: 576px) {
    main {
        margin-left: 250px;
        padding: 7% 15%;
    }
}

h1, h2, h3, h4 {
    color: #aa0000;
    font-family: 'Libre Baskerville';
    font-variant: small-caps;
    margin: 2rem 0 1rem;
}

h2 {
    border-bottom: solid 4px #ddbb00;
}

p {
    font-size: 1.2rem;
}

main a {
    color: #aa0000;
    transition: 200ms;
}

main a:hover {
    color: #ff0000;
}

main li {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

th {
    border-style: none;
    color: #aa0000;
    font-size: 1.2rem;
}

td {
    border-style: none;
    font-size: 1.2rem;
}

.trait-list {
    list-style: none;
    padding: 0;
    text-indent: 2rem;
}

.nav-box {
    background-color: #ffffcc;
    border: solid 1px #660000;
    border-radius: 4px;
    line-height: 0.5;
    padding: 1.5rem;
    position: fixed;
    right: 10px;
    top: 10px;
    width: fit-content;
}

.nav-box ul {
    list-style: none;
    padding: 0;
}

.nav-box li {
    font-size: 1.2rem;
    line-height: 1;
}

.nav-box a {
    color: #aa0000;
    transition: 200ms;
    font-size: 1rem;
    text-decoration: none;
}

.nav-box a:hover {
    color: #ff0000;
}

.alert {
    color: #0055aa;
    background-color: #aaddff;
    border-left: solid 6px #00aaff;
    border-radius: 6px;
    width: fit-content;
}

.alert p {
    margin: 0.5rem;
}

/********************************* GUIDE IMAGES *********************************/
.pencil-img {
    float: right;
    margin-left: 2rem;
    width: 240px;
}

.dice-img {
    float: right;
    width: 300px;
}

.progress-img {
    float: right;
    margin: 1rem 0 0 2rem;
    width: 300px;
}

.chart-img {
    float: left;
    margin-right: 2rem;
    width: 300px;
}

/********************************* GUIDE TABLES *********************************/
.hd-table {
    float: left;
    margin-right: 2rem;
    width: 300px;
}

.ability-table {
    float: right;
    margin: 0 0 2rem 2rem;
    width: 500px;
}

.modifier-table {
    float: left;
    margin-right: 2rem;
    width: 300px;
}

.point-buy-table {
    float: right;
    margin-left: 2rem;
    width: 400px;
}

/********************************* CLASS CONTENT *********************************/
.table-h2 {
    font-size: 1rem;
    vertical-align: top;
    width: 0;
}

.class-table {
    margin-top: 2rem;
}

.class-table td {
    font-size: 1rem;
}

.statblock td {
    border-bottom: solid 1px;
}

.statblock th {
    background-color: #aa0000;
    color: #ffffff;
}